@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{  
    font-family: 'Roboto', sans-serif;  
    background-color:#fcd5cd;
}

.main-container h1{
    border-left:6px solid grey;
    background-color: #fd7c62;
    color:white;
    max-width: 200px;
    font-family:'Segoe UI';
}

.main-container i{
    letter-spacing: 1px;
    background-color: #ffe4df;
    border-radius: 6px;
    padding:0 4px 0 4px;
}

.work-box{
    border:0px solid #fd7c62;
    border-radius: 4px;
    height:500px;
    width:1000px;
}